# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.venv/
.env

# MyPy cache
.mypy_cache/

# Ruff cache
.ruff_cache/

# Pycharm project settings
.idea/

# Poetry files
poetry.toml
